@import "tailwindcss";


html {
  scroll-behavior: smooth;
  background-color: #0d1117;
  color: #f1f5f9;
}

body {
  background-color: #0d1117;
  color: #f1f5f9;
}

::selection {
  background: rgba(0, 176, 155, 0.695);
  color: #fff;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #0d1117;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 176, 80, 0.4);
  border-radius: 2px;
}
